<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.dao.BricklayerTemplateDao">

    <resultMap type="com.management.model.d_o.BricklayerTemplateDO" id="BricklayerTemplateMap">
        <id property="id" column="id"/>
        <result property="templateName" column="template_name"/>
        <result property="templateContent" column="template_content"/>
        <result property="templateSuffix" column="template_suffix"/>
        <result property="belongDirectId" column="belong_direct_id"/>
        <result property="remark" column="remark"/>
    </resultMap>


    <select id="listBricklayerTemplatePage" parameterType="com.management.model.d_o.BricklayerTemplateDO"
            resultMap="BricklayerTemplateMap">
        select
        id,
        template_name,
        template_suffix,
        template_content,
        remark,
        '1'as blank_
        from bricklayer_template
        where 1=1
        <if test="do.templateName!=null  and do.templateName!=''">
            and template_name like concat('%',#{ do.templateName},'%')
        </if>
    </select>

    <select id="listBricklayerTemplate" parameterType="com.management.model.d_o.BricklayerTemplateDO"
            resultMap="BricklayerTemplateMap">
        select
            id,
            template_name,
            template_suffix,
            template_content,
            remark,
        '1'as blank_
        from bricklayer_template
        where 1=1
        
    </select>

    <select id="getBricklayerTemplateById" parameterType="com.management.model.d_o.BricklayerTemplateDO"
            resultMap="BricklayerTemplateMap">
        select
        id,
        template_name,
        template_suffix,
        template_content,
        remark,
        '1'as blank_
        from bricklayer_template
        where 1=1
        and id  = #{id}
        
    </select>

    <select id="getBricklayerTemplateByTemplateName" parameterType="com.management.model.d_o.BricklayerTemplateDO"
            resultMap="BricklayerTemplateMap">
        select
        id,
        template_name,
        template_suffix,
        template_content,
        remark,
        '1'as blank_
        from bricklayer_template
        where 1=1
        and template_name  = #{templateName}

    </select>

    <select id="listBricklayerTemplateByProjectId" parameterType="java.util.List"
            resultMap="BricklayerTemplateMap">
SELECT
	b.id,
	b.template_name,
    template_suffix,
	b.template_content,
	b.remark,
    a.belong_direct_id,
	'1' AS blank_
FROM
	bricklayer_direct_template_relation a
	LEFT JOIN bricklayer_template b ON a.template_id = b.id
WHERE
	1 = 1
	AND a.belong_direct_id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>


    <delete id="deleteBricklayerTemplate" parameterType="com.management.model.d_o.BricklayerTemplateDO">
        delete
        from bricklayer_template
        where 1=1
        and id  = #{id}
        
    </delete>

    <update id="updateBricklayerTemplate" parameterType="com.management.model.d_o.BricklayerTemplateDO">
        update bricklayer_template
        set
        <if test="templateName!=null  and templateName!=''">
            template_name = #{ templateName},
        </if>
        <if test="templateSuffix!=null  and templateSuffix!=''">
            template_suffix = #{ templateSuffix},
        </if>
        <if test="templateContent!=null  and templateContent!=''">
            template_content = #{ templateContent},
        </if>
        <if test="remark!=null  and remark!=''">
            remark = #{ remark},
        </if>
        id=id
        where 1=1
        and id = #{id}

    </update>


</mapper>