<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.dao.BricklayerProjectDao">

    <resultMap type="com.management.model.d_o.BricklayerProjectDO" id="BricklayerProjectMap">
        <id property="id" column="id"/>
        <result property="projectName" column="project_name"/>
        <result property="projectDescription" column="project_description"/>
        <result property="contextPath" column="context_path"/>
    </resultMap>


    <select id="listBricklayerProjectPage" parameterType="com.management.model.d_o.BricklayerProjectDO"
            resultMap="BricklayerProjectMap">
        select
        id,
        project_name,
        project_description,
        context_path,
        '1'as blank_
        from bricklayer_project
        where 1=1

    </select>

    <select id="listBricklayerProject" parameterType="com.management.model.d_o.BricklayerProjectDO"
            resultMap="BricklayerProjectMap">
        select
            id,
            project_name,
            project_description,
            context_path,
        '1'as blank_
        from bricklayer_project
        where 1=1

    </select>

    <select id="getBricklayerProjectById" parameterType="com.management.model.d_o.BricklayerProjectDO"
            resultMap="BricklayerProjectMap">
        select
        id,
        project_name,
        project_description,
        context_path,
        '1'as blank_
        from bricklayer_project
        where 1=1
        and id  = #{id}

    </select>


    <delete id="deleteBricklayerProject" parameterType="com.management.model.d_o.BricklayerProjectDO">
        delete
        from bricklayer_project
        where 1=1
        and id  = #{id}

    </delete>

    <update id="updateBricklayerProject" parameterType="com.management.model.d_o.BricklayerProjectDO">
        update bricklayer_project
        set
        <if test="projectName!=null  and projectName!=''">
            project_name = #{ projectName},
        </if>
        <if test="projectDescription!=null  and projectDescription!=''">
            project_description = #{ projectDescription},
        </if>
        <if test="contextPath!=null  and contextPath!=''">
            context_path = #{ contextPath},
        </if>
        id=id
        where 1=1
        and id = #{id}

    </update>


</mapper>