<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.anicert.dao.BricklayerUserDao">

    <resultMap type="cn.anicert.model.d_o.BricklayerUserDO" id="BricklayerUserMap">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="userPassword" column="user_password"/>
        <result property="userRole" column="user_role"/>
    </resultMap>


    <select id="listBricklayerUserPage" parameterType="cn.anicert.model.d_o.BricklayerUserDO"
            resultMap="BricklayerUserMap">
        select
        id,
        user_name,
        nick_name,
        user_role,
        '1'as blank_
        from bricklayer_user
        where 1=1
        <if test="do.nickName!=null  and do.nickName!=''">
            and nick_name like concat('%',#{ do.nickName},'%')
        </if>
    </select>

    <select id="listBricklayerUser" parameterType="cn.anicert.model.d_o.BricklayerUserDO"
            resultMap="BricklayerUserMap">
        select
            id,
            user_name,
            nick_name,
            user_role,
        '1'as blank_
        from bricklayer_user
        where 1=1

    </select>

    <select id="getBricklayerUserById" parameterType="cn.anicert.model.d_o.BricklayerUserDO"
            resultMap="BricklayerUserMap">
        select
        id,
        user_name,
        nick_name,
        user_role,
        '1'as blank_
        from bricklayer_user
        where 1=1
        and id  = #{id}

    </select>

    <select id="getBricklayerUserByName" parameterType="cn.anicert.model.d_o.BricklayerUserDO"
            resultMap="BricklayerUserMap">
 select
        id,
        user_password,
        nick_name,
        user_name,
        user_role,
        '1'as blank_
        from bricklayer_user
        where 1=1
        and user_name  = #{name}
    </select>


    <delete id="deleteBricklayerUser" parameterType="cn.anicert.model.d_o.BricklayerUserDO">
        delete
        from bricklayer_user
        where 1=1
        and id  = #{id}

    </delete>

    <update id="updateBricklayerUser" parameterType="cn.anicert.model.d_o.BricklayerUserDO">
        update bricklayer_user
        set
        <if test="userName!=null  and userName!=''">
            user_name = #{ userName},
        </if>
        <if test="nickName!=null  and nickName!=''">
            nick_name = #{ nickName},
        </if>
        <if test="userPassword!=null  and userPassword!=''">
            user_password = #{ userPassword},
        </if>
        <if test="userRole!=null  and userRole!=''">
            user_role = #{ userRole},
        </if>
        id=id
        where 1=1
        and id = #{id}

    </update>


</mapper>