<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.anicert.dao.BricklayerProjectGlobalVariableDao">

    <resultMap type="cn.anicert.model.d_o.BricklayerProjectGlobalVariableDO" id="BricklayerProjectGlobalVariableMap">
        <id property="id" column="id"/>
        <result property="variableKey" column="variable_key"/>
        <result property="variableValue" column="variable_value"/>
        <result property="belongProject" column="belong_project"/>
    </resultMap>


    <select id="listBricklayerProjectGlobalVariablePage"
            parameterType="cn.anicert.model.d_o.BricklayerProjectGlobalVariableDO"
            resultMap="BricklayerProjectGlobalVariableMap">
        select
        id,
        variable_key,
        variable_value,
        belong_project,
        '1'as blank_
        from bricklayer_project_global_variable
        where 1=1
        
    </select>

    <select id="listBricklayerProjectGlobalVariable"
            parameterType="cn.anicert.model.d_o.BricklayerProjectGlobalVariableDO"
            resultMap="BricklayerProjectGlobalVariableMap">
        select
            id,
            variable_key,
            variable_value,
            belong_project,
        '1'as blank_
        from bricklayer_project_global_variable
        where 1=1
        
    </select>


    <select id="listByProjectId" parameterType="java.lang.Integer" resultMap="BricklayerProjectGlobalVariableMap">
    select
            id,
            variable_key,
            variable_value,
            belong_project,
        '1'as blank_
        from bricklayer_project_global_variable
        where 1=1

        and belong_project =#{id}
    </select>

    <select id="listBricklayerProjectGlobalVariableByIds"
            parameterType="cn.anicert.model.d_o.BricklayerProjectGlobalVariableDO"
            resultMap="BricklayerProjectGlobalVariableMap">
        select
        id,
        variable_key,
        variable_value,
        belong_project,
        '1'as blank_
        from bricklayer_project_global_variable
        where 1=1

        and id in
        <foreach item="id" collection="ids" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
    </select>


    <select id="getBricklayerProjectGlobalVariableById"
            parameterType="cn.anicert.model.d_o.BricklayerProjectGlobalVariableDO"
            resultMap="BricklayerProjectGlobalVariableMap">
        select
        id,
        variable_key,
        variable_value,
        belong_project,
        '1'as blank_
        from bricklayer_project_global_variable
        where 1=1
        
        and id  = #{id}
    </select>


    <delete id="deleteBricklayerProjectGlobalVariable"
            parameterType="cn.anicert.model.d_o.BricklayerProjectGlobalVariableDO">
        delete
        from bricklayer_project_global_variable
        where 1=1
        
        and id  = #{id}
    </delete>

    <delete id="deleteBricklayerProjectGlobalVariableLogically"
            parameterType="cn.anicert.model.d_o.BricklayerProjectGlobalVariableDO">
        update
        bricklayer_project_global_variable
        set del_flag=true
        where 1=1
        
        and id  = #{id}
    </delete>


    <delete id="deleteByProjectId" parameterType="java.lang.Integer">
        delete
        from bricklayer_project_global_variable
        where 1=1
        and belong_project =#{id}
    </delete>

    <delete id="deleteBricklayerProjectGlobalVariableBatch" parameterType="java.util.List">
        delete
        from bricklayer_project_global_variable
        where 1=1

        and id in
        <foreach item="id" collection="ids" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteBricklayerProjectGlobalVariableBatchLogically" parameterType="java.util.List">
        update
        bricklayer_project_global_variable
        set del_flag=true
        where 1=1

        and id in
        <foreach item="id" collection="ids" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
    </delete>

    <update id="updateBricklayerProjectGlobalVariable"
            parameterType="cn.anicert.model.d_o.BricklayerProjectGlobalVariableDO">
        update bricklayer_project_global_variable
        set
        <if test="variableKey!=null  and variableKey!=''">
            variable_key = #{ variableKey},
        </if>
        <if test="variableValue!=null  and variableValue!=''">
            variable_value = #{ variableValue},
        </if>
        <if test="belongProject!=null ">
            belong_project = #{ belongProject},
        </if>
        id=id
        where 1=1

        and id = #{id}
    </update>


</mapper>